<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="fragments/common::common"></th:block>
    <link rel="stylesheet" href="/css/style.css">
    <script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="/js/index.js"></script>
</head>
<body>
	<form id="memberInfo">
		<input type="hidden" name="id" th:value="${member.id}" />
	</form>
    <div id="container" class="container-fluid" style="display: block;">
        <div class="row vh-100">
            <aside class="col-md-2 vh-100">
                <header style="height: 10%;">
                    <input type="text" placeholder="search">
                </header>
                <ul style="height: 80%;">
                    <li class="text-white" id="publicChannel">Public</li>
                    <li class="text-white" id="privateChannel">Private</li>
                </ul>
               	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#channelAddModal">
				  방 만들기
				</button>
				<form method="post" action="/logout">
					<button type="submit" class="btn btn-danger">
					  Logout
					</button>
				</form>
            </aside>
            <main class="col-md-10 vh-100">
            	<div id="noChannel">
            		<span class="position-absolute top-50 start-50">채팅방을 만들어보세요.</span>
            	</div>
            	<div id="chatWrap" class="h-100" style="display: none;">
	                <header class="d-flex justify-content-between" style="height: 10%;">
	                    <div class="d-flex">
	                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
	                        <div>
	                            <h2>Chat with Vincent Porter</h2>
	                            <h3>already 1902 messages</h3>
	                        </div>
	                    </div>
	                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
	                </header>
	                <ul id="chat" style="height: 78%;">
	                    <!-- <li class="you d-flex">
	                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" class="rounded-circle me-3" width="50px" height="50px" alt="">
	                        <div class="content vw-100">
	                            <div class="entete">
	                                <span class="status blue"></span>
	                                <h2>Vincent</h2>
	                                <h3>10:12AM, Today</h3>
	                            </div>
	                            <div class="message">
	                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
	                            </div>
	                        </div>
	                    </li>
	                    <li class="me">
	                        <div class="entete">
	                            <h3>10:12AM, Today</h3>
	                            <h2>Vincent</h2>
	                            <span class="status blue"></span>
	                        </div>
	                        <div class="message">
	                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
	                        </div>
	                    </li> -->
	                </ul>
	                <footer style="height: 10%;">
	                    <textarea id="sendMessage" placeholder="Type your message"></textarea>
	                    <div class="action">
	                        <div class="file">
	                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
	                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
	                        </div>
	                        <a href="#" id="send">Send</a>
	                    </div>
	                </footer>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal -->
	<div class="modal fade" id="channelAddModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-body">
	        <div class="form-floating mb-3">
			  <input type="text" class="form-control" id="channelName" placeholder="방 이름">
			  <label for="floatingInput">방 이름</label>
			</div>
			<div class="d-flex flex-row-reverse">
				<button type="button" class="btn btn-primary" id="channelAddBtn">만들기</button>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>